html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "MyriadPro";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-family: Cuprum;
  text-decoration: none;
  text-transform: uppercase;
  padding: 11px 0 9px 0;
  background-color: #ee3643;
  border-radius: 3px;
  width: 253px;
  text-align: center;
  font-size: 14px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.new {
  position: relative;
}

.new::after {
  position: absolute;
  content: "new";
  color: #fff;
  background-color: #ee3643;
  text-align: center;
  line-height: 24px;
  top: 6px;
  right: -30px;
  height: 27px;
  width: 100px;
  transform: rotate(45deg);
  font-family: "PT Sans Narrow";
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.page {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000;
}

.page__section {
  display: block;
}

.page__section--theme--dark {
  background-color: #32425c;
}

.page__section--theme--light {
  background-color: #f2f6f8;
}

.page__section--theme--default {
  background-color: #fff;
}

.page__section--theme--darkest {
  background-color: #293449;
}

.page__content {
  margin: 0 auto;
  width: 940px;
  max-width: 100%;
}

.page__content--flex {
  display: flex;
}

.section-heading {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

/******************* Header ******************/
.main-header {
  padding-bottom: 60px;
}

.main-header__menu {
  background-color: #293449;
  display: flex;
  height: 42px;
}

.logo {
  display: block;
  width: 220px;
  height: 47px;
  overflow: hidden;
}

.logo:hover {
  filter: brightness(110%);
}

.logo:active {
  filter: brightness(100%);
}

.logo__image {
  display: block;
  width: 100%;
  height: auto;
}


.search {
  background-color: #293449;
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  justify-content: flex-end;
}

.search:hover {
  background-color: #212a3a;
}

.search__label {
  position: relative;
  flex-grow: 1;
}

.search__input {
  font: 17px/18px "Cuprum", "Arial", sans-serif;
  color: #fff;
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: 13px 10px 12px 47px;
}

.search__input:focus {
  outline: 0;
  color: #000;
  background: #fff;
}

.search__input:focus::placeholder {
  color: #000;
}

.search__input:focus + .search__button::before {
  opacity: 1;
  /* Make not-inline svg icon red */
  filter: brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%);
}

.search__input::placeholder {
  color: #fff;
}

.search__button {
  cursor: pointer;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 0;
  border: 0;
  background-color: transparent;
  padding: 12px 12px 12px 15px;
}

.search__button::before {
  content: url("../img/icon-search.svg");
  opacity: 0.3;
}

.search:hover .search__button::before{
  opacity: 1;
}


.user-menu {
  display: flex;
  background-color: #293449;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.user-menu__item {
  display: inline-block;
  vertical-align: top;
}

.user-menu__link {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0;
  text-align: right;
  text-align: center;
  min-width: 150px;
  color: #fff;
  text-decoration: none;
}

.user-menu__text {
  margin-left: 16px;
}

.user-menu__link--checkout {
  background-color: #63a63e;
}

.user-menu__link--checkout:hover {
  background-color: #5fbb2d;
}

.user-menu__link--checkout:active {
  background-color: #518534;
}

.user-menu__link::before {
  position: absolute;
  display: inline;
  left: 17px;
  opacity: 0.3;
}

.user-menu__link:hover::before {
  opacity: 1;
}

.user-menu__link:active {
  opacity: 0.5;
}

.user-menu__link--bookmarks::before {
  content: url(../img/icon-bookmark.svg);
}

.user-menu__link--cart::before {
  content: url(../img/icon-cart.svg);
}


.main-header__main {
  padding: 46px 0 23px 53px;
  display: flex;
  justify-content: space-between;
}

.description {
  margin: 3px 0 0 0;
  color: #ee3643;
  font-family: Cuprum, "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  max-width: 210px;
}

.info {
  width: 270px;
}

.info__tel {
  position: relative;
  display: block;
  padding-left: 26%;
  color: #ee3643;
  font-size: 21px;
  line-height: 40px;
  text-decoration: none;
  width: 270px;
  height: 45px;
  border: 3px solid #ffffff;
}

.info__tel::before {
  position: absolute;
  left: 13px;
  top: 2px;
  content: url("../img/icon-phone.svg");
  opacity: 0.25;
}

.info__tel:hover {
  text-decoration: underline;
}

.info__tel:active {
  color: #d85760;
}

.info__tel:hover::before {
  opacity: .7;
}

.info__tel:active::before {
  opacity: .4;
}

.info__addr {
  margin-top: 5px;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}


.login-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.login-menu__item {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.login-menu__link {
  position: relative;
  text-decoration: none;
  font-size: 21px;
  font-weight: 400;
  line-height: 46px;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 11px 24px;
}

.login-menu__link:hover {
  color: #ee3643;
}

.login-menu__link:active {
  opacity: 0.3;
  color: #000;
}

.login-menu__link--login {
  padding-left: 49px;
}

.login-menu__link--login::before {
  position: absolute;
  left: 15px;
  top: 1px;
  opacity: 0.3;
  content: url("../img/icon-login.svg")
}

.login-menu__link--login:hover::before {
  opacity: 1;
}


.main-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

/* .main-nav__item {
  
} */

.main-nav__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  padding: 20px 30px;
  padding-bottom: 23px;
}

.main-nav__link:hover {
  background-color: #253041;
}

.main-nav__link:active {
  opacity: 0.5;
}

.main-nav__item:first-child .main-nav__link {
  padding-left: 52px;
}

.main-nav__item:last-child .main-nav__link {
  padding-right: 54px;
}


.main-content__promo {
  padding-top: 59px;
  padding-bottom: 53px;
}

.promo {
  display: flex;
  align-items: flex-start;
}

.promo__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.promo__item {
  display: block;
  margin-bottom: 20px;
  margin-right: 20px;  
}


.promo-card__caption {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}

.promo-card {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 123px;
  padding-left: 22px;
  padding-top: 21px;
}

.promo-card--color--orange {
  background-color: #ffc047;
}

.promo-card--color--blue {
  background-color: #3bbce3;
}

.promo-card--color--green {
  background-color: #8ed78f;
}

.promo-card--color--pink {
  background-color: #dc91d8;
}

.promo-card__link {
  display: block;
  margin-top: 13px;
  max-width: 135px;
  background-color: rgba(0, 0, 0, .1);
}

.promo-card__link:hover {
  background-color: rgba(0, 0, 0, .2);
}

.promo-card__link:active {
  background-color: rgba(0, 0, 0, .3);
}

.promo-card__icon-wrapper {
  position: absolute;
  width: 46%;
  height: 100%;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.promo-slider {
  position: relative;
  width: 620px;
  height: 266px;
  padding-left: 25px;
  background-color: #967353;
  background-image: url("../img/slider-1.jpg");
  background-size: cover;
}

.promo-slider__caption {
  width: 100%;
  background-color: rgba(0,0,0,.1);
}

.promo-slider__main-caption {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: 23px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
}

.promo-slider__description {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.promo-slider__link {
  position: absolute;
  bottom: 22px;
  width: 195px;
}

.promo-slider__nav-button {
  font-size: 0;
  background-color: transparent;    
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  position: absolute;
  cursor: pointer;
  height: 60px;
  width: 35px;
  top: 50%;
  transform: translateY(-50%);
}

.promo-slider__nav-button:hover {
  filter: brightness(70%);
}

.promo-slider__nav-button--prev {
  background-image: url("../img/icon-left.svg");
  left: 18px;
}

.promo-slider__nav-button--next {
  background-image: url("../img/icon-right.svg");
  right: 18px;
}



.goods__heading-panel {
  margin-bottom: 20px;
}

.heading-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
  height: 89px;
  padding: 0 27px;
}

.heading-panel__heading {
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px; 
}

.products {
  margin: 0;
  margin-right: -20px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  position: relative;
  width: 220px;
  height: 318px;
  margin: 0 20px 20px 0;
  overflow: hidden;
  padding: 21px 0;
  background-color: #fff;
  border: 1px solid #eaeaea;
}

.product-card:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-card:hover .product-card__buttons {
  display: block;
}

.product-card__image-wrapper {
  width: 220px;
  height: 140px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__image {
  max-width: 220px;
  height: auto;
}

.product-card__buttons {
  display: none;
  position: absolute;
  top: 0;
  left: 1px;
  width: 100%;
  height: 165px;
  background-color: #fff;
  padding: 43px 42px;
}

.product-card__button {
  position: relative;
  display: block;
  width: 135px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.product-card__button--buy {
  padding: 13px 0 9px 0;
  background-color: #63a63e;
  color: #fff;
  box-shadow: inset 0 -3px 0 #367315;
}

.product-card__button--buy:hover {
  background-color: #5fbb2d;
}

.product-card__button--buy:active {  
  background-color: #518534;
}

.product-card__button--buy::before {
  position: absolute;
  top: 12px;
  content: url("../img/icon-cart.svg");
  opacity: 0.3;
  left: 13px;
}

.product-card__button--buy:hover::before {
  opacity: 1;
}

.product-card__button--bookmark {
  padding: 8px 0 6px 0;
  background-color: #fff;
  border: 3px solid #63a63e;
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.product-card__button--bookmark:hover {
  border: 3px solid #32425c;
  background-color: #fff;
}

.product-card__button--bookmark:active {
  opacity: 0.3;
  background-color: #fff;
}

.product-card__name {
  text-align: center;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 30px;
  margin-top: 18px;
}

.product-card__price--old {
  margin: 0;
  margin-top: 12px;
  color: #a9a9a9;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  text-align: center;
}

.product-card__price--new {
  position: relative;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #f2363d;
  width: 141px;
  text-align: center;
  padding: 10px 0;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
}

.product-card__price--new::after {
  content: '';
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border: 19px solid #fff;
  border-left-color: #f2363d;
}


.main-content__popular-manufacturers {
  padding-bottom: 65px;
}

.manufacturers__heading-panel {
  margin-bottom: 20px;
}

.logos {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
}

.logo-card {
  display: block;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  margin: 0 20px 20px 0;
}

.logo-card:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.logo-card:active {
  opacity: .3;
}

.logo-card__image-wrapper {
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-card__image {
  display: block;  
  max-width: 220px;
  height: auto;
}


.main-content__services {
  padding: 60px 0 101px 
}

.services__description {
  max-width: 430px;
  font-family: "MyriadPro", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.services__tabs {
  margin-top: 65px;
}

.vertical-tabs {
  display: flex;
}

.vertical-tabs__buttons {
  position: relative;
  margin: 0;
  padding: 0;
  width: 240px;
  list-style-type: none;
}

.vertical-tabs__buttons::after {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: url("../img/shadow-separator.png")
}

/* .vertical-tabs__item {
  display: block;
} */

.vertical-tabs__button {
  width: 100%;
  cursor: pointer;
  color: #fff;
  text-align: left;
  font-family: "Cuprum";
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  background-color: #32425c;
  border: none;
  padding: 15px 0 15px 20px;
}

.vertical-tabs__button--active {
  background-color: #fff;
  color: #32425c;
}

.vertical-tabs__contents {
  margin: 0;
  padding: 0;
  padding-left: 80px;
  list-style-type: none;
  max-width: 600px;
}

.vertical-tabs__content {
  position: relative;
}

.vertical-tabs__content::after {
  position: absolute;
  top: 20px;
  right: -370px;
  
}

.vertical-tabs__content--delivery::after {  
  content: url("../img/delivery.png");
}

.vertical-tabs__content--guarantee::after {  
  content: url("../img/guarantee.png");
}

.vertical-tabs__content--credit::after {
  top: 0;
  content: url("../img/credit.png");
}


.vertical-tabs__content-heading {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.vertical-tabs__content-description {
  font-family: "MyriadPro", "Arial", sans-serif;
  margin-top: 34px;
  max-width: 275px;
  font-size: 14px;
  line-height: 24px;
}

.vertical-tabs__content--guarantee .vertical-tabs__content-description {
  max-width: 379px;
}

.vertical-tabs__content--credit .vertical-tabs__content-description {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 400px;
}

.vertical-tabs__content-button {
  width: 195px;
}


.main-content__about-us {
  margin-top: 55px;
  margin-bottom: 86px;  
  width: 550px;
}

.about-us__description {
  margin-top: 20px;
  color: #000000;
  font-family: "MyriadPro";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.about-us__companies {
  list-style-type: none;
  margin: 25px 0;
}

.about-us__companie {
  position: relative;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.about-us__companie::before {
  position: absolute;
  left: -40px;
  top: 8px;
  content: "";
  background-color: #ee3643;
  width: 25px;
  height: 2px;
}

.about-us__button {
  width: 220px;
  margin-top: 17px;
}


.main-content__contacts {
  margin-left: auto;
  width: 300px;
  margin-top: 55px;
  margin-bottom: 86px;
}

.contacts__description {
  width: 190px;
  margin-top: 20px;
  color: #000000;
  font-family: "MyriadPro";
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.contacts__map {
  position: relative;
  display: block;
  cursor: pointer;
  margin-top: 30px;
  width: 300px;
  height: 158px;
}

.map__image-wrapper {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map__map-wrapper {
  z-index: 1;
}

.contacts__button {
  margin-top: 40px;
  width: 300px;
}

.main-footer__menu {
  padding-bottom: 53px;
  display: flex;
  flex-wrap: wrap;
}

.logo--big {  
  height: 68px;
}

.link-menu {
  
  font-size: 18px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-menu__item {
  display: inline-block;
  vertical-align: top;
  padding: 0 30px;
}

.link-menu__item:first-child {
  padding-left: 0;
}

.link-menu__item:last-child {
  padding-right: 0;
}

.link-menu__link {
  color: #fff;
  text-decoration: none;
}

.link-menu__link:hover {
  text-decoration: underline;
}

.link-menu__link:active {
  text-decoration: none;
  opacity: 0.5;
}

.link-menu--accent .link-menu__link {
  color: #ffd180;
}



.footer-menu__links {
  align-self: flex-end;
  margin-left: auto;
  margin-bottom: 13px;
}

.footer-menu__links.link-menu--accent {
  align-self: flex-start;
  margin-top: 24px;
}


.plain-info {
  margin-top: 8px;
  color: #fff;
}

.plain-info__addr {  
  font-size: 18px;
  margin-bottom: 4px;
}

.plain-info__tel {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.plain-info__tel:hover {
  text-decoration: underline;
}


.main-footer__info {
  padding-top: 35px;
  padding-bottom: 30px;
}

.info-bar {
  display: flex;
  justify-content: space-between;
}

.info-bar__copyright {
  margin: 0;
  max-width: 230px;
}

.copyright {
  color: #fff;
}

.social {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}

.social__link {
  overflow: hidden;
  display: table-cell;
  font-size: 0;
  width: 42px;
  height: 42px;
  text-align: center;
  vertical-align: middle;
  background-color: #212a3a;
  border-radius: 50%;
}

.social__link:hover {
  background-color: #ee3643;
}

.social__logo-icon {
  max-width: 100%;
  height: auto;
}

.info-bar__feedback {
  margin: auto 0;
}

.feedback {
  display: flex;
  justify-content: space-between;
}

.feedback__text {
  color: #fff;
  margin: 0 25px;
}

.feedback__text:last-child {
  color: #fff;
  margin-right: 15px;
}

.feedback__link {
  color: #ffd180;
  text-decoration: none;
}

.feedback__link:hover {
  text-decoration: underline;
}

.feedback__link:active {
  color: #ee3643;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal__close {
  position: absolute;
  cursor: pointer;
  right: 2px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  font-size: 0;
  border: 0;
}

.modal__close::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 2px;
  width: 25px;
  height: 4px;
  transform: rotate(45deg);
  background-color: #f2363d;
}

.modal__close::after {
  position: absolute;
  content: "";
  top: 13px;
  left: 2px;
  width: 25px;
  height: 4px;
  transform: rotate(-45deg);
  background-color: #f2363d;
}


.write-us {
  background-color: #ffffff;
  border-top: 7px solid #ff4f4f;
  width: 620px;
  max-width: 100%;
}

.write-us__sign {
  display: flex;
  justify-content: space-between;  
  margin: 55px 80px 0;
}

.write-us__label {
  display: block;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 8px;
}

.write-us__input {
  margin-top: 1px;
  padding: 8px 10px 8px 16px;
  border: 2px solid #dee3e4;
  border-radius: 4px;
  width: 220px;
  max-width: 100%;  
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.write-us__input::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.write-us__letter-label {
  display: block;
  margin-left: 80px;
  font-size: 18px;
  line-height: 18px;
  margin-top: 18px;
  margin-bottom: 8px;
}

.write-us__letter {
  resize: none;
  border: 2px solid #dee3e4;
  border-radius: 4px;
  width: 460px;
  max-width: 100%;  
  padding: 5px 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0 80px;
  margin-bottom: 37px;
}

.write-us__submit-wrapper {
  height: 112px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.write-us__submit {
  margin: 0 80px;
  width: 100%;
}



/* aksjdfkasdklfaklsdjfklajklsdjflkajslkdjfkljskldjfjalksjdflasjdlfalsd */
.dn {
  display: none;
}
/* aksjdfkasdklfaklsdjfklajklsdjflkajslkdjfkljskldjfjalksjdflasjdlfalsd */

