html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "MyriadPro";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype");
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #000;
}

.page__section {
  display: block;
}

.page__section--theme--dark {
  background-color: #32425c;
}

.page__section--theme--light {
  background-color: #f2f6f8;
}

.page__section--theme--default {
  background-color: #ffffff;
}

.page__section--theme--darkest {
  background-color: #293449;
}

.page__content {
  margin: 0 auto;
  width: 940px;
  max-width: 100%;
}

.page__content--flex {
  display: flex;
}


/******************* Header ******************/
.main-header {
  padding-bottom: 60px;
}

.main-header__menu {
  background-color: #293449;
  display: flex;
  height: 42px;
}

.logo {
  width: 220px;
  height: 47px;
  overflow: hidden;
}

.logo:hover {
  filter: brightness(110%);
}

.logo:active {
  filter: brightness(100%);
}

.logo__image {
  width: 100%;
  height: auto;
}


.search {
  background-color: #293449;
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  justify-content: flex-end;
}

.search:hover {
  background-color: #212a3a;
}

.search__label {
  position: relative;
  flex-grow: 1;
}

.search__input {
  font: 17px/18px "Cuprum", "Arial", sans-serif;
  color: #fff;
  background-color: transparent;
  border: 0;
  width: 100%;
  padding: 13px 10px 12px 47px;
}

.search__input:focus {
  outline: 0;
  color: #000;
  background: #fff;
}

.search__input:focus::placeholder {
  color: #000;
}

.search__input:focus + .search__button::before {
  opacity: 1;
  /* Make not-inline svg icon red */
  filter: brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%);
}

.search__input::placeholder {
  color: #fff;
}

.search__button {
  cursor: pointer;
  top: 0;
  left: 0;
  position: absolute;
  font-size: 0;
  border: 0;
  background-color: transparent;
  padding: 12px 12px 12px 15px;
}

.search__button::before {
  content: url("../img/icon-search.svg");
  opacity: 0.3;
}

.search:hover .search__button::before{
  opacity: 1;
}


.user-menu {
  display: flex;
  background-color: #293449;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.user-menu__item {
  display: inline-block;
  vertical-align: top;
}

.user-menu__link {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0;
  text-align: right;
  text-align: center;
  min-width: 150px;
  color: #fff;
  text-decoration: none;
}

.user-menu__text {
  margin-left: 16px;
}

.user-menu__link--checkout {
  background-color: #63a63e;
}

.user-menu__link--checkout:hover {
  background-color: #5fbb2d;
}

.user-menu__link--checkout:active {
  background-color: #518534;
}

.user-menu__link::before {
  position: absolute;
  display: inline;
  left: 17px;
  opacity: 0.3;
}

.user-menu__link:hover::before {
  opacity: 1;
}

.user-menu__link:active {
  opacity: 0.5;
}

.user-menu__link--bookmarks::before {
  content: url(../img/icon-bookmark.svg);
}

.user-menu__link--cart::before {
  content: url(../img/icon-cart.svg);
}


.main-header__main {
  padding: 46px 0 23px 53px;
  display: flex;
  justify-content: space-between;
}

.description {
  margin: 3px 0 0 0;
  color: #ee3643;
  font-family: Cuprum, "Arial", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  max-width: 210px;
}

.info {
  width: 270px;
}

.info__tel {
  position: relative;
  display: block;
  padding-left: 26%;
  color: #ee3643;
  font-size: 21px;
  line-height: 40px;
  text-decoration: none;
  width: 270px;
  height: 45px;
  border: 3px solid #ffffff;
}

.info__tel::before {
  position: absolute;
  left: 13px;
  top: 2px;
  content: url("../img/icon-phone.svg");
  opacity: 0.25;
}

.info__tel:hover {
  text-decoration: underline;
  color: #ff848c;
}

.info__tel:active {
  color: #d85760;
}

.info__tel:hover::before {
  opacity: .7;
}

.info__tel:active::before {
  opacity: .4;
}

.info__addr {
  margin-top: 5px;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}


.login-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.login-menu__item {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.login-menu__link {
  position: relative;
  text-decoration: none;
  font-size: 21px;
  font-weight: 400;
  line-height: 46px;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 11px 24px;
}

.login-menu__link:hover {
  color: #ee3643;
}

.login-menu__link:active {
  opacity: 0.3;
  color: #000;
}

.login-menu__link--login {
  padding-left: 49px;
}

.login-menu__link--login::before {
  position: absolute;
  left: 15px;
  top: 1px;
  opacity: 0.3;
  content: url("../img/icon-login.svg")
}

.login-menu__link--login:hover::before {
  opacity: 1;
}


.main-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

/* .main-nav__item {
  
} */

.main-nav__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  padding: 20px 30px;
  padding-bottom: 23px;
}

.main-nav__link:hover {
  background-color: #253041;
}

.main-nav__link:active {
  opacity: 0.5;
}

.main-nav__item:first-child .main-nav__link {
  padding-left: 52px;
}

.main-nav__item:last-child .main-nav__link {
  padding-right: 54px;
}


.main-content__promo {
  padding-top: 59px;
  padding-bottom: 53px;
}

.promo {
  display: flex;
  align-items: flex-start
}

.promo__items {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.promo__item {
  display: block;
  margin-bottom: 20px;
  margin-right: 20px;  
  background-color: #ffc047;
}

.promo-card {
  width: 300px;
  height: 123px;
  border: 1px solid transparent;
}

.promo-slider {
  width: 620px;
  height: 266px;
  border: 1px solid transparent;
}







